input {
  background-color: #f4f1ec;
  outline: 0;
  border-width: 0 0 4px;
  border-color: #484848	;
  width: 100%;
  height: 70px
}
input:focus {
  border-color: black
}

output {
  display: flex;
  align-items: center;
}

::placeholder {
  font-size: 32px;
  font-weight: bold;
  color: #484848;
}

.tweet-action {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  font-family: 'Bungee', cursive;
}

.tweet-button {
  width: 110px;
  height: 40px;
  color: white;
  background-color: #4056A1;
  border: none;
}

.hum {
  display: flex;
  align-items: center;
}